body{
	font-family: 'Titillium Web', sans-serif;
	font-weight: bold;
}

h1{ font-size: 66px; font-weight: 600; line-height: 80px; font-weight: bold; }
p{
	font-size: 18px;
	color: #999999;
	line-height: 1.8;
	margin-bottom: 0;
}
.navbar{
	background-color: white;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .07);
	min-height: 100px;
}

.nav-link{color:  #003cc6;}
.nav-link:hover{  color: #011749; }
.navbar-toggler { font-size: 40px; }
.navbar-toggler:focus{ outline: none; }

#hero{
	background-image: url('../Images/hero.jpg');
	background-size: cover;
	padding-top: 90px;
	min-height: 700px;
	color: white;
}
#hero p{
	color: white;
}
.content-center{
	max-width: 800px;
	margin: 0 auto 60px auto;
	text-align: center;
}
